<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  <title>When a user selects pay at hotel</title>
</head>

<body>
  <section style="font-family: Arial, Helvetica, sans-serif; width: 80%; margin: 0 auto;">
    <header style="min-height: 30px; background-color: #a59e83; color:#fff; padding: 1rem;">
      <img src="https://res.cloudinary.com/sapeled3/image/upload/v1578239773/HOP_wowhhl.svg" alt="HotelOnPoints" />
    </header>

    <h3>Hello (Guest Name)</h3>
    <div class="details-div">
      <p>
        Thank you for booking your Stay with HotelOnPoints.com.
        This confirms that your Booking has been confirmed and Guaranteed.
        Simply Print or present this email at check-in counter.
      </p>
      <div class="book-container">
        <div class="book-div"
          style="border: 0.5px solid #a59e83; display: inline-block; padding: 1rem 2rem; margin: 4px; box-shadow: 1px 1px 3px #383838da;">
          <a href="" style="color: #000000; text-decoration: none;">Book a Taxi</a>
        </div>
        <div class="book-div"
          style="border: 0.5px solid #a59e83; display: inline-block; padding: 1rem 2rem; margin: 4px; box-shadow: 1px 1px 3px #383838da;">
          <a href="" style="color: #000000; text-decoration: none;">Book an Experience</a>
        </div>
        <div class="book-div"
          style="border: 0.5px solid #a59e83; display: inline-block; padding: 1rem 2rem; margin: 4px; box-shadow: 1px 1px 3px #383838da;">
          <a href="" style="color: #000000; text-decoration: none;">Book a Tour</a>
        </div>
        <div class="book-div"
          style="border: 0.5px solid #a59e83; display: inline-block; padding: 1rem 2rem; margin: 4px; box-shadow: 1px 1px 3px #383838da;">
          <a href="" style="color: #000000; text-decoration: none;">Book a Flight</a>
        </div>
      </div>
      <h3>
        Your Booking
      </h3>
      <p>
        Your booking reference: <strong>Booking Reeference Number here</strong>
      </p>
      <p>
        Booked on:<strong> Date Booked here </strong>
      </p>
      <br>
      <h3>
        Payment Details
      </h3>
      <p>Total amount: <strong>NGN Amount Paid Here</strong> </p>
      <p>Payment method: <strong> Payment Method Here </strong> </p>
      <p>Your booking has been made on <b>"Payment Date Here"</b>. Your Stay and quoted price is confirmed but not
        guaranteed.
      </p>
      <p>Payment reference: <strong> Payment Referenece Number here </strong> </p>
      <p>Bank: <strong> Guaranty Trust Bank (GTB)</strong> </p>
      <p>Account holder: <strong> Hotel On Points Ltd </strong> </p>
      <p>Account number: <strong> 0175100070 </strong> </p>
      <p> <a href="#">Click Here for other Bank Options </a></p>
      <p>
        Prefer to use a different payment method such as credit card? Click <a href="# ">here</a> to select a different
        payment option.
      </p>

      <h3><a href="hotellink">Hotel Name Here</a></h3>
      <p>Hotel Address</p>
      <p>Phone: <strong>Hotel Phone Number Here</strong> </p>
      <br>
      <p>Email property</p>

      <p>
        Your reservation: <strong> Number of nights here, Number of Rooms Here </strong>
      </p>
      <p>
        Check-in: <strong> Checkin Date here (checkin time here) </strong>
      </p>

      <p>
        Check-out: <strong> Checkout Date (Check out time) </strong>
      </p>

      <p>
        Room type: <strong> Room Type Here</strong>
      </p>

      <p>
        Prepayment: <strong> Please pay to selected bank to guarantee this</strong>
      </p>

      <p>
        Guest Name: <strong> Guest Name here </strong>
      </p>

      <p>

        Cancellation Policy: <strong> Cancellation Policy here </strong>
      </p>
      <h1> hotel images here </h1>
      <p>
        <a href="#"> Join us! Members can access savings of up to 50% while booking.</a>
      </p>

      <h3>Need help with your reservation?</h3>
      <p><strong>Contact </strong></p>
      <p>
        HotelOnPoints.com Phone: <strong> +2349011289347,+2349011362297,+2349087937354,+2349087937353</strong>
      </p>
      <p>
        Contact the property Phone: <strong> Hotel Phone number here </strong>
      </p>
      <p>
        Manage your booking: <strong> You can <a href="https://www.hotelonpoints.com/logintobookings">view your
            reservation</a> or <a href="https://www.hotelonpoints.com/logintobookings">make changes</a> online anytime.

        </strong>
      </p>
    </div>
    <footer style="margin-top: 2rem;">
      <h3 style="text-transform: uppercase;">
        CHAT &nbsp; TERMS AND CONDITION &nbsp; PRIVACY POLICY
      </h3>



      <p>

        This email was sent to <strong><b>Customer Email</b></strong> by Hotel On
        Points Ltd. Plot 5a road 2, Off Ebony Road, Port Harcourt, Rivers State
        Nigeria. Phone: <strong>+2349011289347,+2349011362297,+2349087937354,+2349087937353</strong> Email:
        support@hotelonpoints.com. Working Hours:
        <strong>Mon - Fri 08h30 & Sat:10h00 - 14h00. Public holidays: 10h00 - 21h00
        </strong>
      </p>
      <div class="icon-div" style="padding: 5px; background-color: black; display: block;">
        <p style="color: azure; "> We Are Social</p>
        <a href="#"><img src="https://res.cloudinary.com/sapeled3/image/upload/v1582914214/new/Facebook3_bdmwch.png"
            width=4% height=4%> </a>
        <a href="#"><img src="https://res.cloudinary.com/sapeled3/image/upload/v1582914214/new/Instagram2_yvusie.png"
            width="4%" height="4%"> </a>
        <a href="#"><img src="https://res.cloudinary.com/sapeled3/image/upload/v1582914215/new/Twitter2_e2mse5.png"
            width="4%" height="4%"> </a>
        <a href="#"><img src="https://res.cloudinary.com/sapeled3/image/upload/v1582914215/new/LinkedIn2_z20k0w.png"
            width="4%" height="4%"> </a>
        <a href="#"><img src="https://res.cloudinary.com/sapeled3/image/upload/v1582914216/new/YouTube1_g84t0d.png"
            width="4%" height="4%"> </a>
    </footer>
  </section>

</body>

</html>